/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url(./nunito-v16-latin-regular.woff2) format("woff2");
}

/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url(./nunito-v16-latin-600.woff2) format("woff2");
}

/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url(./nunito-v16-latin-700.woff2) format("woff2");
}

/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url(./nunito-v16-latin-800.woff2) format("woff2");
}
