#container {
  height: 353px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glare {
  position: absolute;
  top: 53px;
  left: 17px;
  right: 13.33px;
  background: #ffffff;
  opacity: 0.6;
  border-radius: 6.18px;
  min-height: 149px;
}

.content {
  position: absolute;
  top: 67.62px;
  left: 33.87px;
  display: flex;
  flex-direction: column;
}

.title {
  max-width: 197.35px;
  margin: 0;
  font-weight: 700;
  font-size: 17.99px;
  line-height: 20.58px;
  color: #000000;
}

.message {
  max-width: 315.99px;
  margin: 2.25px 0 0;
  font-weight: 400;
  font-size: 10.12px;
  line-height: 14.31px;
  color: #000000;
}

.message .highlight {
  font-weight: 700;
}

.hero {
  position: absolute;
  width: 134px;
  height: 159px;
  top: 149px;
  right: 49px;
  bottom: 45px;
}

.back {
  position: absolute;
  width: 1354px;
  height: 100%;
  top: 0;
  left: -396px;
}

.page-dot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  margin: 0 19px;
  padding: 0;
  background-color: transparent;
}

.page-dot.active {
  border: none;
  background-color: #c4c4c4;
}

@media only screen and (min-width: 600px) {
  #container {
    height: 500px;
  }

  .glare {
    top: 110px;
    left: 96px;
    right: 0;
    max-width: 613px;
    min-height: 265px;
  }

  .content {
    top: 136px;
    left: 126px;
  }

  .title {
    max-width: 351px;
    font-size: 32px;
    line-height: 36.61px;
  }

  .message {
    max-width: 562px;
    font-size: 18px;
    line-height: 25.45px;
    margin-top: 4px;
  }

  .back {
    left: 0;
    width: 100vw;
  }

  .hero {
    width: 313px;
    height: 373px;
    top: 86px;
    right: 18.33%;
    bottom: 41px;
  }
}
