button.action {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 23.05px;
  padding: 5.06px 21.93px;
  margin-top: 8.43px;
  border-width: 0;
  border-radius: 35px;
  background: linear-gradient(90deg, #fad136 0%, #fadd49 100%);
  font-size: 9px;
  font-weight: 800;
  line-height: 12.72px;
  color: #000000;
  transition: transform ease-in-out 200ms;
}
button.action:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 600px) {
  button.action {
    min-height: 41px;
    padding: 9px 39px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22.62px;
  }
}
