@import "../fonts/index.css";

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

button {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

button[disabled] {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

dialog {
  border: none;
}

* {
  box-sizing: border-box;
}
