#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
}

.hamburger-container {
  position: fixed;
  padding: 28px 0 0 31px;
  min-height: 47px;
  width: 100%;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
}

.hamburger-block {
  width: 21px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #000000;
}
.hamburger-block:last-child {
  margin-bottom: 0;
}

.ocm-container {
  width: 270px;
  height: 100%;
  padding-top: 19px;
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #f9e292 0%, #fad73d 100%);
}

.ocm-dismiss-btn {
  width: 21px;
  height: 23px;
  margin-top: 26px;
  margin-left: 29px;
}

.ocm-item-container {
  max-width: 130px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 18.3px;
  color: #000000;
  margin-bottom: 29px;
  padding-bottom: 8px;
}
.ocm-item-container:last-child {
  margin-bottom: 0;
}
.ocm-item-container:hover {
  font-weight: 800;
  border-bottom: 3px solid #ff9d0b;
}

.ocm-item-icon {
  width: 26px;
  height: 26px;
}

.ocm-item-label {
  margin-left: 15px;
}

#popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 24px; */
}

.popup-header {
  position: relative;
  width: 100%;
  height: 204px;
}

.popup-dismiss-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.popup-dismiss-btn:hover {
  background-color: #000000;
}
.popup-dismiss-btn:hover > svg > path {
  fill: #ffffff;
}

.popup-header-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30.21%,
    rgba(0, 0, 0, 0.518634) 74.68%,
    #000000 100%
  );
}

.popup-header-section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.popup-header-title {
  margin: 0;
  font-weight: 800;
  font-size: 11px;
  line-height: 12.58px;
  color: #ffb546;
}

.popup-header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header-message {
  margin: 4px 6px 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 12.58px;
  color: #ffffff;
}

.popup-message {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 16px;
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.popup-message::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.popup-message-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 14.87px;
}

/* Overrides */
button.action {
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  .ocm-container {
    width: 352px;
  }

  #popup {
    padding: 79px 122px;
  }

  .popup-content {
    max-width: 975px;
  }

  .popup-header {
    height: 408px;
  }

  .popup-header-section {
    padding: 32px;
  }

  .popup-header-title {
    font-size: 25.01px;
    line-height: 28.61px;
  }

  .popup-header-message {
    margin: 9.14px 12px 0 0;
    font-size: 21.16px;
    line-height: 24.21px;
  }

  .popup-message {
    padding: 42px 51px;
  }

  .popup-message-text {
    font-size: 21.16px;
    line-height: 27.51px;
  }

  /* Overrides */
  button.action {
    margin-top: 0;
    padding: 12px 46px;
    font-size: 23.02px;
    line-height: 32.56px;
    border-radius: 50.37px;
  }
}
